.container {

  background-color: #051F49;

  a {
    color: #FAC75C;
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h1, h2, p, label {
    color: white;
  }

  .btn-primary {
    background-color: #FAC75C;
    border-color: white;
    color: white;
  }

  .btn-primary:hover {
    background-color: #ffffff;
    border-color: #FAC75C;
    color: #051F49;
  }

  .btn-danger {
    background-color: #fa5c5c;
    border-color: white;
    color: white;
    font-weight: 700;
  }

  .btn-danger:hover {
    background-color: #ffffff;
    border-color: #fa5c5c;
    color: #051F49;
  }
}
