<h1>Pokedex</h1>

<div class="container">
  <h1 class="mb-4">pokemons</h1>

 <%= link_to "Trainers", trainers_path %>

  <div class="row mb-3">
    <% @pokemons.each do |pokemon| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <% if pokemon.photo.present? %>
            <%= link_to pokemon_path(pokemon) do %>
              <div class="image-container">
                <%= cl_image_tag pokemon.photo.key, class: "card-category-img-top img-fluid", alt: pokemon.name %>
                <div class="card-body-overlay">
                  <%= pokemon.name %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


</div>
